<div class="container">
  <h1><%= @restaurant.name %></h1>
  <% [:name, :address, :category].each do |field| %>
    <p>
      <%= field.to_s.humanize %> : <%= @restaurant.send(field) %>
    </p>
  <% end %>
  <%= link_to "Back to restaurants", restaurants_path %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
</div>
